
body {
  background-color: rgb(28, 28, 28);
  color: rgb(180, 180, 180);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  color: rgb(235, 235, 235);
  margin: 20px;
}

#about-me,
#capabilities,
#skills,
#price-table,
#projects,
#photos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: #232323;
}

